.recentNews {
    background-color: #505160;
}

.recentNews .news-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recentNews .ct-blog {
    margin-bottom: 30px;
}

.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
}

.ct-blog .inner:hover {
    background-color: #e6e6e6;
}

.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
}

.ct-blog .fauxcrop img {
    width: 100%;
}

.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}

.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}

.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);
    font-weight: 700;
    display: block;
    line-height: 1;
}

.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);
}

.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}

.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}

.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}

.btn-news.btn-contests a:hover {
    color: #000;
}